{erl_opts, [debug_info]}. %, {i, "./_build/default/plugins/gpb/include"}]}.
{deps, [{protobuffs, "0.8.2", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}.

{plugins, [rebar3_protobuffs, rebar3_run]}.

{relx, [{release, { master, "0.1.0" },
         [master,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },
            {test, [{deps, [
                          {meck, ".*",
                           {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
                          ]}
                  ]}
            ]
}.

{proto_opts, [
  {compiler, protobuffs},
  {src_dirs, ["protocol"]}
]}.
%% ==================================================
%% TESTING AND CODE QUALITY
%% ==================================================
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [no_return, unmatched_returns, error_handling]}
]}.

%% {cover_enabled, true}.
%% {cover_opts, [verbose]}.

{ct_compile_opts, [
    {parse_transform, cth_readable_transform}
]}.

{ct_opts, [
    {ct_hooks, [
        {cth_surefire, [{path, "../jenkins_report.xml"}]},
        cth_readable_failonly,
        cth_readable_shell
    ]}
]}.

%% ==================================================
%% HOOKS
%% ==================================================
{pre_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "cp apps/master/protocol/src/main/proto/hrp.proto apps/master/protocol/hrp.proto"},
             {"win32", compile, "copy apps\\master\\protocol\\src\\main\\proto\\hrp.proto apps\\master\\protocol\\hrp.proto"}
            ]}.
{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile, "rm -f apps/master/protocol/hrp.proto"},
             {"win32", compile, "del apps\\master\\protocol\\hrp.proto"}
            ]}.
{provider_hooks, [
  {pre, [{compile, {protobuffs, compile}} ]}
]}.