{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.
{deps, []}.

{plugins, 
  [rebar3_gpb_plugin]
}.

{relx, [{release, { master, "0.1.0" },
         [master,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            },
            {test, [{deps, [
                          {meck, ".*",
                           {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
                          ]}
                  ]}
            ]
}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

%% ==================================================
%% PROTOCOL BUFFERS
%% ==================================================
{gpb_opts, [
  {i, "proto"},
  {module_name_suffix, "_pb"},
  {strings_as_binaries, true},
  type_specs]}.

%% ==================================================
%% TESTING AND CODE QUALITY
%% ==================================================
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [no_return, unmatched_returns, error_handling]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{ct_compile_opts, [
    {parse_transform, cth_readable_transform}
]}.

{ct_opts, [
    {ct_hooks, [
        {cth_surefire, [{path, "../jenkins_report.xml"}]},
        cth_readable_failonly,
        cth_readable_shell
    ]}
]}.

