[
    {sharded_eredis, [
        {global_or_local, local},
        {pools, [
            {pool0, [
                {size, 10},
                {max_overflow, 20},
                {host, "127.0.0.1"},
                {port, 6379}
            ]},
            {pool1, [
                {size, 10},
                {max_overflow, 20},
                {host, "10.182.5.71"},
                {port, 6379}
            ]}
        ]}
    ]},
    {master,
        [
            {client_heartbeat_interval, 5000},
            {node_heartbeat_interval, 240000},
            {graph_rebuild_interval, 300000}
        ]
    }
].