* {
    margin: 0;
    padding: 0;
}

html, body {
    font: 11pt arial;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

#network {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

#dashboard {
    z-index: 10;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 400px;
    background-color: white;
    padding: 15px;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;
    border-radius: 3px;
}

.hide-display {
    display: none;
}

.edge-weight {
    width: 140px;
}

.edge-information {
    float: left;
    padding-right: 10px;
}

#padding-save {
    padding: 11px;
}

.padding-button {
    padding: 5px;
    width: 80px;
}

.padding-input {
    padding: 5px;
    width: 300px;
}

.padding-input-edge {
    padding: 5px;
    width: 246px;
}

.padding-table-data {
    padding-left:2px;
}